body {
    background-color: #99b898;
}

#content {
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content{
    0% {top: -500px;}
    100% {top: 0;}
}